:root {
  font-family: "Nunito", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-size: 0.75em;
  background: transparent;
  border: none;
  color: inherit;
}
